<h1>{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <form (ngSubmit)="onClick(user)" [formGroup]="user" novalidate>
        <!-- 
  firstName :<input type="text" formControlName="firstName" />
  lastName :<input type="text" formControlName="lastName" /> 
<button>Sumit</button> -->
        <div class="mb-3 mt-3">
          <label class="form-label">
            <span>Enter the name</span>
            <input class="form-control" type="text" formControlName="name" placeholder="Your Name" />

            <!-- required Field-->

            <div class="error text-danger" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
              Name is required for this field
            </div>
          </label>
        </div>





        <div formGroupName="account">
          <div class="mb-3 mt-3">
            <label class="form-label">
              <span>Enter the Email</span>
              <input class="form-control" type="text" formControlName="email" placeholder="Your Email" />
            </label>



            <!-- required Field-->

            <div class="error text-danger"
              *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
              Emailid is required for this field
            </div>

            <!--Email pattern checking strategy-->
              <div class="error text-danger"
                *ngIf="user.get('account').get('email').hasError('pattern') && user.get('account').get('email').touched">
                Emailid should be in :@gmail.com
               </div>



          </div>
          <div class="mb-3 mt-3">
            <label class="form-label">
              <span>Confirm email Address</span>
              <input class="form-control" type="email" formControlName="confirm" placeholder="Confirm email address" />

              <!-- required Field-->
              <div class="error text-danger"
                *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
                Confirm E-mail address is Required
              </div>
            </label>
          </div>
        </div>
        <div class="mt-3 mb-3">
          <div class="row ">
            <label class="form-label col-md-4 ">
              <span>Enter the Password</span>
              <input class="form-control" type="password" formControlName="password" placeholder="Enter Password" />

              

              <div class="error text-danger" *ngIf="user.get('password').hasError('pattern') && user.get('password').touched">At least one digit,one lowercase,one uppercase,one special character,atleast 8 characters length

              </div>
            </label>


            <label class="form-label col-md-4 ">
              <span>Confirm Password</span>
              <input class="form-control" type="password" formControlName="confirmpassword" placeholder="Enter Password" />
              <div class="error text-danger" *ngIf="user.get('confirmpassword').hasError('required') && user.get('confirmpassword').touched"> Confirm Password should be required

              </div>
            </label>


          </div>

        </div>


        <button type="submit" [disabled]="user.invalid" class="btn-primary btn-large">Signup</button>
      </form>
    </div>
  </div>
</div>